*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;

}

#port-jumbo{
	border: 8px solid rgb(60,179,113);
	padding: 8em 4em; /*header size*/
	border-radius: 10px;
	width: 60%;
	/*margin-bottom: 0;*/
}

#jumbo-div{ /*this the whole container*/
	height: 100vh;
	padding-top: 10%;
	background-color: #333;
	border-radius: 0;
	/*margin-bottom: 0;*/
}

.jumbotron h1, .jumbotron p{
	color: #f2f2f2;

}

p{
	font-family: 'Exo', sans-serif;
}

#stickynavbar {
  overflow: hidden;
  background-color: #333;
}

#stickynavbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#stickynavbar a:hover {
  background-color: #ddd;
  color: black;
}

#stickynavbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1

}

.sticky + .content {
  padding-top: 60px;
}

.about{
	text-align: center;
}

.me{
	z-index: -2;
	height: 250px;
}

.logo{
	margin: 0 auto;
	width: 10px;
}

.social{
	width: 50%;
}
.textbg{
	background-color: #4CAF50;
	color: #f2f2f2;
}

.logoholder img{
	width: 50%;
	margin: 10px;
}


/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px){
	#jumbo-div{
		height: 100%;

	}
	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.jumbotron h1{
		/*font-size: 10px;*/
	}

	.container h3{
		font-size: 35px;
	}

}

/*tablet style*/
@media only screen and (min-width: 410px) and (max-width: 960px){
	#jumbo-div{
		height: 100%;

	}
	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.container h3{
		font-size: 35px;
	}

}

/*desktop*/

@media only screen and (min-width: 961px){

}